{
	"identifier" = "oolite.oxp.Anonymissimus.MissileWarning";
	"required_oolite_version" = "1.82";
	"title" = "Missile Warning";
	"version" = "0.1";
	"category" = "Mechanics";
	"description" = "Repeatedly play a unique warning sound for as long as there is at least one incoming missile.";
	"author" = "Anonymissimus";
	"information_url" = "hhttp://aegidian.org/bb/viewtopic.php?f=4&t=17813";
	"license" = "CC BY-NC-SA 4";
}
